/* Escribe tu css aqui */
p{
	background-color: yellow;
	height: 100px;
	width: 200px;
	display: inline-block;
	float:left;
	margin:8px;
}
.red{
	background-color:red;
	height: 100px;
	width: 200px;
	display: inline;
	float:left;
	margin:8px;

}